body, code {font-family:sans-serif}

/* horizontal centering and width */
body.enhanced {margin:0;padding:0}
body:not(.enhanced), main {max-width:80rem;width:100%;margin:0 auto}
p, ul {max-width: 45rem;margin:1em auto}

@media (min-width:70rem) {
	.container {width:75%;display:inline-block;vertical-align:top}
	.sidebar {width:25%;display:inline-block;vertical-align:top;text-overflow:ellipsis;position:sticky;top:0}
}
@media (max-width:70rem) {
	.sidebar {display:none}
}

header {display:flex;align-items:baseline;justify-content:center;background:linear-gradient(to bottom, #333, #555);color:white;fill:white}
header > * {margin:0 1rem}
header img, header svg {height:1.5rem;width:auto}

h1, h2, h3, h4, h5, h6 {margin-top:1.5em;margin-bottom:.5em}
h1:first-child {margin-top:.5em}
p {padding:0 .5em}
p, ul {color:#333;line-height:1.5}
ul {padding:.25em 0.2em .25em 2em}
code {display:block;white-space:pre;overflow-x:auto;background:#ccc;color:black;padding:1em}

p code {display:inline;padding:0.2em}
a:link {text-decoration:none;color:#05f}
a:hover, a:active {color:#e70}
span.cli {background:black;color:white;font-family:monospace;padding:0.2em}
